{% extends "base.html" %}
{% block title %}Seddit - 404{% endblock %}
{% block main %}
    <nav>
        {% include "navigation.html" %}
    </nav>
    <div class="submissions">
        <p>Page not found!</p>
    </div>
{% endblock %}
