<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <div>
                <a href="https://gitlab.com/beucismis/seddit" target="_blank">Source Code</a>
            </div>
        </header>
        <main>
            <h1 class="title">
                <a href="/">{{ self.title() }}</a>
            </h1>
            <p class="description">Simple, fast and free alternative Reddit front-end.</p>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
