{% extends "base.html" %}
{% block title %}Seddit{% endblock %}
{% block main %}
    <nav>
        <form method="POST" action="/">
            r/
            <input type="text" placeholder="Subreddit" name="name">
            <button type="submit">Go!</button>
        </form>
    </nav>
{% endblock %}
