{% extends "base.html" %}
{% block title %}Seddit - {{ subreddit.subreddit_name_prefixed }}{% endblock %}
{% block main %}
    <nav>
        <a href="/{{ subreddit.subreddit_name_prefixed }}/hot">Hot</a>
        <a href="/{{ subreddit.subreddit_name_prefixed }}/new">New</a>
        <a href="/{{ subreddit.subreddit_name_prefixed }}/top">Top</a>
    </nav>
    <div class="submissions">
        {% for submission in subreddit.submissions %}
            <div>
                <p class="submission-title">{{ submission.title }}</p>
                <p class="submission-details">
                    {{ submission.ups }} Upvotes
                    -
                    {{ submission.created_utc.strftime('%a, %b %d, %I:%M %p') }}
                    {% if submission.stickied %}(Pinned){% endif %}
                    -
                    <a href="{{ submission.permalink }}" target="_blank">Original Post</a>
                </p>
                {% if submission.selftext != "" %}
                    <details>
                        <summary>read more</summary>
                        {{ submission.selftext }}
                    </details>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
