html {
    color-scheme: dark !important;
}

body {
    font-family: monospace;
    color: rgb(232, 230, 227);
    background-color: #181a1b;
}

a {
    color: rgb(232, 230, 227);
}

details {
    padding-top: 0.5rem;
}

header div {
    top: 0;
    right: 0;
    position: absolute;
}

header a {
    padding: 0.5rem;
    display: inline-block;
}

main {
    width: 80%;
    margin: 0 auto;
}

nav {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

nav a {
    padding: 0.5rem;
    display: inline-block;
}

h1.title {
    text-align: center;
    font-weight: normal;
}

h1 a {
    text-decoration: none;
    color: rgb(232, 230, 227);
}

p.description {
    text-align: center;
}

div.submissions {
    width: 60%;
    margin: 0 auto;
}

div.submissions > div {
    margin: 1rem;
    padding: 0.5rem;
    background: rgb(34, 36, 38);
}

div p.submission-title {
    margin: 0;
    padding: 0;
}

div p.submission-details {
    margin: 0;
    padding: 0;
    opacity: 0.5;
    font-size: 10px;
}

form {
    padding-top: 0.5rem;
}
